* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #B0B0B0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #FFCC00;
    text-shadow:
        -4px -4px 0px rgba(0, 0, 0, 0.8),
        4px -4px 0px rgba(0, 0, 0, 0.8),
        -4px 4px 0px rgba(0, 0, 0, 0.8),
        4px 4px 0px rgba(0, 0, 0, 0.8);
    font-size: 4em;
}

a {
    display: flex;
    background-color: #1E4D7B;
    text-decoration: none;
    color: #FFCC00;
    font-size: 2em;
    border-radius: 6px;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.contenedor {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 16px;
    justify-content: flex-start;
    padding: 20px
}

@media (max-width: 768px) {
    .contenedor {
        flex-wrap: wrap;
        justify-content: center;
        overflow-x: visible;
    }

    .carta {
        flex: 1 1 45%;
        max-width: 200px;
    }
}

@media (max-width: 480px) {
    .carta {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.carta {
    max-width: 200px;
    padding: 16px;
    border-radius: 6px;
    flex: 1 1 200px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    flex: 1 1 200px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

}

.carta:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 5px solid white;
}


.datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tipos-pokemon {
    display: flex;
    gap: 8px;

    span {
        background-color: #aaa;
        border-radius: 24px;
        font-size: 12px;
        font-weight: 500;
        padding: 4px 8px;
    }
}

.habilidades {
    text-align: left;
    padding-left: 16px;
}

.shiny {
    border: 4px solid #ffcc00;
    box-shadow: 0 0 10px 5px rgba(255, 204, 0, 0.6);
}

.shiny:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 10px 5px rgba(255, 204, 0, 0.6);
    z-index: 1;
}

.grass {
    background-color: greenyellow;
    border-radius: 12px;
}

.fire {
    background-color: orangered;
    border-radius: 12px;
}

.water {
    background-color: deepskyblue;
    border-radius: 12px;
}

.electric {
    background-color: yellow;
    border-radius: 12px;
}

.bug {
    background-color: #8CBF26;
    border-radius: 12px;
}

.dragon {
    background-color: #7038F8;
    border-radius: 12px;
}

.fighting {
    background-color: #D93F3F;
    border-radius: 12px;
}

.flying {
    background-color: #A98FF3;
    border-radius: 12px;
}

.ghost {
    background-color: #735797;
    border-radius: 12px;
}

.ground {
    background-color: #E2C097;
    border-radius: 12px;
}

.ice {
    background-color: #98D8D8;
    border-radius: 12px;
}

.normal {
    background-color: #A8A878;
    border-radius: 12px;
}

.poison {
    background-color: #A33EA1;
    border-radius: 12px;
}


.psychic {
    background-color: #F85888;
    border-radius: 12px;
}

.rock {
    background-color: #B8A038;
    border-radius: 12px;
}

.fairy {
    background-color: #F1A7C4;
    border-radius: 12px;
}